a {
    color: inherit;
    text-decoration: none;
}

html {
    font-size: 62.5%;
    @include screen(small) {
        font-size: 58%;
    }
}

body {
    color: $body-text-white;
    -webkit-font-smoothing: antialiased;
    font-family: $regular-font;
    font-size: 1.6rem;
    background-color: $bg-color-black;
    text-size-adjust: 100%;
}

h1,
h2,
h3,
h4,
h5 {
    color: $body-text-white;
}