@font-face {
	font-family: 'Karla';
	src: url('../fonts/karla/Karla-Bold.eot');
	src: url('../fonts/karla/Karla-Bold.eot?#iefix') format('embedded-opentype'),
		url('../fonts/karla/Karla-Bold.woff2') format('woff2'),
		url('../fonts/karla/Karla-Bold.woff') format('woff'),
		url('../fonts/karla/Karla-Bold.ttf') format('truetype'),
		url('../fonts/karla/Karla-Bold.svg#Karla-Bold') format('svg');
	font-weight: bold;
	font-style: normal;
    text-rendering: optimizeLegibility;    
}


@font-face {
	font-family: 'Karla';
	src: url('../fonts/karla/Karla-Regular.eot');
	src: url('../fonts/karla/Karla-Regular.eot?#iefix') format('embedded-opentype'),
		url('../fonts/karla/Karla-Regular.woff2') format('woff2'),
		url('../fonts/karla/Karla-Regular.woff') format('woff'),
		url('../fonts/karla/Karla-Regular.ttf') format('truetype'),
		url('../fonts/karla/Karla-Regular.svg#Karla-Regular') format('svg');
	font-weight: normal;
	font-style: normal;
}
