.nav-bar {
    padding: 30px 0;
    display: flex;
    justify-content: space-between;
    &__logo {
        font-size: 1.6rem;
        color: $body-text-white;
        width: 83px;
        cursor: pointer;
        // transition: 300ms ease-out;
        text-align: left;
        // will-change: letter-spacing;
        // &:hover {
        //     letter-spacing: .04em;
        // }
    }
    &__menu {
        cursor: pointer;
        font-size: 1.6rem;
        text-align: left;
        .active a {
            color: #fff;
        }
        &-item {
            display: inline-block;
            color: rgba($body-text-white, 0.15);
            position: relative;
            margin-left: 15px;
            margin-right: 15px;
            &:last-child {
                margin-right: 0px;
            }
            // width: 83px;
            // transition: 250ms linear;
            // will-change: letter-spacing;
            // position: relative;
            // &:hover {
            //     letter-spacing: .05em;
            // }
        }
    }
}

.sidebar {
    background-color: $deep-black;
    // height: 100%;
    // float: left;
    display: inline-flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px;
    width: 50px;
    direction: rtl;
    overflow: auto;
    // position: fixed;
    // left: 0;
    // padding: 10px 10px 0;
    z-index: 4;
    @include screen(med) {
        display: none;
    }
    // @include screen(mid) {
    //     &--three {
    //         display: block;
    //     }
    // }
    &__link {
        margin-top: 15px;
        transform: rotate(-90deg);
        display: inline-flex;
        a {
            display: inline-flex;
            padding-left: 15px;
            font-size: 1.5rem;
            letter-spacing: 0.25px;
            opacity: 0.4;
            transition: all 250ms ease-out;
            &:hover {
                opacity: .8;
            }
        }
    }
    &__social-icons {
        // position: absolute;
        display: flex;
        flex-flow: column wrap;
        justify-content: space-between;
        margin: 0 auto;
        overflow: auto;
        li {
            padding: 0;
            display: inline-block;
            text-align: center;
            a {
                position: relative;
                display: block;
                display: inline-block;
                opacity: 0.8;
                padding-bottom: 10px;
                i {
                    font-size: 1.4rem;
                }
                &:last-of-type {
                    margin-bottom: 0px;
                }
            }
        }
    }
}