.landing {
  position: relative;
  display: flex;
  align-items: center;
  width: 100%;
  height: calc(100vh - 78px);
  overflow: hidden;

  // justify-content: center;
  .card-container {
    background-color: $card-bg-color;
    // min-height: 275px;
    width: 100%;
    // z-index: 25;
    box-shadow: 4px 0 4px -3px rgba(#181C1F, 0.8); 
    display: flex;
    align-items: center;
    padding: 90px;
    // position: absolute;
    // transform: translateY(50%);
    // top: -50%;
  }
}



.card--bounce {
    animation-duration: 4s;
    animation-fill-mode: both;
    animation-iteration-count: infinite;
    animation-name: bounce;
    transform-origin: center bottom;
    animation-delay: 2s;
}

li:not(.active) .hover-fill-color,
.code-by .hover-fill-color,
.email .hover-fill-color {
  -webkit-transition: color .3s;
  transition: color .3s;
  position: relative;
  overflow: hidden;
  display: inline-block;
}

li:not(.active) .hover-fill-color .link-layer,
.code-by .hover-fill-color .link-layer,
.email .hover-fill-color .link-layer {
  position: absolute;
  left: 0;
  top: 0;
  height: inherit;
  overflow: hidden;
  -webkit-transform: translate3d(-100%, 0, 0);
  transform: translate3d(-100%, 0, 0);
  -webkit-animation: anim-out-layer .3s ease-out;
  animation: anim-out-layer .3s ease-out;
}

li:not(.active) .hover-fill-color .link-layer,
li:not(.active) .hover-fill-color .link-layer:before,
.code-by .hover-fill-color .link-layer,
.code-by .hover-fill-color .link-layer:before,
.email .hover-fill-color .link-layer,
.email .hover-fill-color .link-layer:before {
  width: 100%;
  display: block;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

li:not(.active) .hover-fill-color .link-layer:before,
.code-by .hover-fill-color .link-layer:before,
.email .hover-fill-color .link-layer:before {
  content: attr(data-text);
  -webkit-transform: translate3d(100%, 0, 0);
  transform: translate3d(100%, 0, 0);
  color: #fff;
  -webkit-animation: anim-out-text .3s ease-out;
  animation: anim-out-text .3s ease-out;
}

li:not(.active) .hover-fill-color:hover .link-layer,
.code-by .hover-fill-color:hover .link-layer,
.email .hover-fill-color:hover .link-layer {
  -webkit-animation: anim-in-layer .3s ease forwards;
  animation: anim-in-layer .3s ease forwards;
}

li:not(.active) .hover-fill-color:hover .link-layer:before,
.code-by .hover-fill-color:hover .link-layer:before,
.email .hover-fill-color:hover .link-layer:before {
  -webkit-animation: anim-in-text .3s ease forwards;
  animation: anim-in-text .3s ease forwards;
}
